
.product-form {
  display: flex;
  flex-direction: column;
}

.sort-select-container {
  margin-top: 20px;
}

.hidden {
  display: none;
}

.out-of-stock {
  background: lightgrey;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
}
